<%= content_for :header_title do %>
Acerca de mi
<% end %>
<%= content_for :header_sub_title do %>
Quien está detrás?
<% end %>
<h2>Entusiasta innovador</h2>
<p>El que les habla responde al nombre de Eric y en realidad es complicado hablar de uno mismo por lo que espero hacer mi mejor esfuerzo en estas lineas.</p>
<p>Aficionado a la tecnologia desde siempre, a mis 36 años estoy culminando los estudios de la carrera de Ingenieria de Sistemas en la Universidad Peruana de Ciencias Aplicadas. En el transcurso de mis estudios he tenido la oportunidad de tocar las varias ramas que forman el rubro de Sistemas, siendo la programacion la que mas me ha atraido por su capacidad creativa e innovadora. De esta manera, es como llego a centrarme en el desarrollo de aplicaciones para dispositivos moviles.</p>
<p>El mercado de dispositivos moviles lleva en crecimiento desde hace unos años ya y parece que va a seguir en aumento debido a la continua aparicion de nuevas tecnologias y necesidad de software que gestione dichas tecnologias. Hoy por hoy ya podemos hacer las compras del mercado desde nuestra refrigeradora o incluso nuesto auto. Contemplando este panorama es que me decido a formar una pequeña empresa unipersonal pero llena de energia y fuerza para dar solucion a las necesidades que ustedes, nuestros clientes, puedan tener.</p>
<p>AppTA1 entra al mercado para ofrecer ideas nuevas y frescas aplicando tecnologia actual y de vanguardia, asi como las mejores practicas y patrones de desarrollo para un posicionamiento exitoso de sus servicios o productos.</p>
<p>Finalmente, voy terminando estas lineas deseando poder conocerlos directamente y poder trabajar juntos en lograr sus exitos que seran los nuestros también.</p>