		<div class="col-md-4">
          <h2>Aplicaciones Móviles</h2>
          <p>Expertos en el desarrollo de aplicaciones móviles para todo tipo de plataforma y dispositivos. Adaptamos sus herramientas y productos actuales, dotándolos de una rejuvenecida interfaz, amigable usabilidad y preparadas para futuros cambios que serán necesarios.</p>
          <%= link_to "Mas info >>", pages_services_path, :class => "btn btn-default", :role => "button"%>
        </div>
        <div class="col-md-4">
          <h2>Asesoría integral</h2>
          <p>Trabajamos de la mano con nuestros clientes en la busqueda de soluciones que permitan a su empresa lograr alcanzar sus objetivos. Hacemos sus necesidades las nuestras aportando el mayor compromiso en nuestra labor, asi como confidencialidad y transparencia en nuestro trabajo. </p>
          <%= link_to "Mas info >>", pages_services_path, :class => "btn btn-default", :role => "button"%>
       </div>
        <div class="col-md-4">
          <h2>Conózcanos</h2>
          <p>Somos una empresa pequeña, con mucha energía y fuerza para conseguir nuestras metas.</p>
          <%= link_to "Mas info >>", pages_about_me_path, :class => "btn btn-default", :role => "button"%>
        </div>
