<%= content_for :header_title do %>
Servicios
<% end %>
<%= content_for :header_sub_title do %>
Lo que hacemos
<% end %>
<h2>Desarrollo IOS y Android</h2>
<p>Desarrollamos aplicaciones tanto para Android como para IOS, en sus versiones mas actuales. De esta manera, podra llegar al mayor publico posible sin importar la plataforma que utilicen. El tipo de aplicacion puede ser basada en web o nativa.</p>
<h2>Asesoria para el diseño de soluciones</h2>
</p>Ayudamos a conseguir sus objetivos analizando sus necesidades y desarrollando de manera conjunta soluciones que permitan lograr que su empresa cumpla con exito los planes trazados. Dentro de un marco de desarrollo de aplicaciones moviles, trabajamos en conjunto con su empresa para diseñar la mejor solucion movil que sirva de herramienta para alcanzar sus objetivos.</p>
<h2>Diseño Movil</h2>
<p>Tomamos aquellas soluciones con las que ya cuenta su empresa renovandolas y adaptandolas al nuevo paradigma de aplicaciones moviles. Asi, sus herramientas de siempre rejuvenecen y llegan a un mayor publico.</p>